ul li {
    margin: 0;
    padding: 0;
    background-color: blue;
  }
  ul.navigation{
    list-style-type: none;
    /* overflow: hidden; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  li {
    float: left;
    text-align: center;
    border-bottom: 1px solid blue;
  }
  
  li a{
    display: block;
    color:orange;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .active{
    display: block;
    background-color: blue;
    color: orange;
    float: left;
    text-align: center;
    border: 5px solid orange;
  }
  .active:hover{
    background-color: orange;
    color:blue;
  }
  
  li a:hover {
    background-color: orange;
    color: blue;
  }
  
  footer{
    background-color: blue;
    color: orange;
  }
  .menu{
    display: none;
  }
  .home-content.img {
    width: 100%;
    height: 450px;
  }
  section.forecast{
      position: absolute;
      top: 400px;
      left: 50px;
      background: radial-gradient(orange, blue);
      padding: .5rem;
      box-shadow: 0 0 30px;
    }
    .fivedayforecast{
      text-align: center;
      vertical-align: center;
      border: 1px solid black;
      border-color: black;
    }
    .currentforcast{
      height: 50px;
      width: 50px;
      border: 1px solid black;
      border-color: black;
    }
    .body{
      position: relative;
      width: 100%;
      height: 400px;
      background-color: lightskyblue
    }
    .bodytext{
      width: 65%;
    }
    .summer{
      float: right;
      height: 300px;
      width: 300px;
      margin: auto;
    }
    .hamburger {
        display: none;
    }