ul li {
    margin: 0;
    padding: 0;
    background-color: blue;
  }
  .navigation{
    list-style-type: none;
    /* overflow: hidden; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  li {
    float: left;
    text-align: center;
    border-bottom: 1px solid blue;
  }
  
  li a{
    display: block;
    color:orange;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .active{
    display: block;
    background-color: blue;
    color: orange;
    float: left;
    text-align: center;
    border: 5px solid orange;
  }
  .active:hover{
    background-color: orange;
    color:blue;
  }
  
  li a:hover {
    background-color: orange;
    color: blue;
  }
  
  footer{
    background-color: blue;
    color: orange;
  }
  .menu{
    display: none;
  }
  .home-content.img {
    width: 100%;
    height: 450px;
  }
  section.forecast{
      position: absolute;
      top: 400px;
      left: 50px;
      background: radial-gradient(orange, blue);
      padding: .5rem;
      box-shadow: 0 0 30px;
    }
    .fivedayforecast{
      text-align: center;
      vertical-align: center;
      border: 1px solid black;
      border-color: black;
    }
    .currentforcast{
      height: 50px;
      width: 50px;
      border: 1px solid black;
      border-color: black;
    }
    .body{
      position: relative;
      width: 100%;
      height: 400px;
      background-color: lightskyblue
    }
    .bodytext{
      width: 65%;
    }
    .summer{
      float: right;
      height: 300px;
      width: 300px;
      margin: auto;
    }
    .hamburger {
        display: none;
    }
    area{
      display: flex;
      justify-content: center;
      height: 100px;
      flex-wrap: wrap;
    }
    div.theGallery {
      display: grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 300px 300px 300px;
      grid-gap: 20px;
     }
    div.theGallery figure {
      margin: 2rem 0;
      border: none;
    }
    div.theGallery figure figcaption {
      text-align: center;
      font-size: 1.0rem;
     }
    div.theGallery figure:hover {
      box-shadow: 5px 10px 10px gray;
      opacity: .5;
      border-radius: 5px 50px
    }
    div.theGallery figure img{ width: 100%;
      border-radius: 5px 50px;
    }
    section.towndata{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      text-align: center;
      box-shadow: 5px 10px 10px gray;
      border-radius: 5px 50px;
      border: 1px solid black;
      border-color: black;
      padding: .5rem;
    }
    article.citydata:hover{
      opacity: .5;
    }
    body > section > article:nth-child(1) > img{
      width: 300px;
      height: 300px;
    }
    body > section > article:nth-child(2) > img{
      width: 300px;
      height: 300px;
    }
    body > section > article:nth-child(3) > img{
      width: 300px;
      height: 300px;
    }