ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    text-align: center;
    border-bottom: 1px solid blue;
  }
  
  li a {
    display: block;
    color:orange;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: blue;
    color: orange;
  }
  
  li a:hover {
    background-color: orange;
    color: blue;
  }
  footer {
    color: orange;
  }
  footer a{
    color: orange;
  }

  @media screen and (max-width: 600px) {
    ul li.right, 
    ul li {float: none;}
  }